{% load static %}
<!DOCTYPE html>
<html lang="ru">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta
         name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      />
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{% static 'main/css/main.css' %}" />
   </head>
   <body>
      <aside class="sidebar">
         <div class="logo">
            <img src="{% static 'main/img/database1.svg' %}" alt="logo" />
            <span class="logo-description">Base</span>
         </div>

         <h3>Навигация</h3>
         <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/admin/">Админ</a></li>
         </ul>

         <div class="trigger"></div>
      </aside>

      <main>
         <section class="container">{% block content %} {% endblock %}</section>
      </main>
   </body>
   <script> 
      const sidebar = document.querySelector(".sidebar");
      const trigger = document.querySelector(".trigger");

      trigger.onclick = function (e) {
         e.target.classList.toggle("hidden");
         sidebar.classList.toggle("hidden");
      };
   </script>
</html>
