@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Oswald&display=swap");

body {
   font-family: "Nunito", sans-serif;
   background: #2c2c2c;
   margin: 0;
   position: relative;
   height: 100vh;
   overflow: hidden;
}

aside {
   position: absolute;
   background: #181818;
   width: 10%;
   padding: 2.5%;
   height: 100%;
   color: #fff;
   border-right: 5px solid #4d4d4d;
   transition: all 0.6s ease;
}

aside.hidden {
   margin-left: -15%;
}

aside .trigger {
   position: absolute;
   top: 50%;
   right: 0;
   border: 20px solid transparent;
   border-right: 20px solid #4d4d4d;
   cursor: pointer;
   transition: all 0.6s ease;
}

aside .trigger.hidden {
   right: -20px;
   border: 20px solid transparent;
   border-right: none;
   border-left: 20px solid #4d4d4d;
}

aside img {
   width: 80px;
}

aside .logo {
   display: flex;
   align-items: center;
   justify-content: center;
}

aside .logo-description {
   font-size: 60px;
   margin-left: 10px;
   font-weight: bold;
}

aside h3 {
   margin-top: 50px;
   font-size: 25px;
}

aside ul {
   list-style: none;
}

aside ul li {
   margin-top: 20px;
   transition: all 0.6s ease;
}

aside ul li:hover {
   transform: scale(1.05);
}

aside ul a {
   color: #fff;
   font-size: 18px;
   font-weight: 600;
   width: 100%;
   text-decoration: none;
}

aside ul a:hover {
   color: #ed5959;
}

main .features {
   float: left;
   color: #fff;
   margin-top: 100px;
   text-align: center;
   width: 75%;
}

main .features h1 {
   font-size: 50px;
}
main .features p {
   max-width: 400px;
   margin: 20px auto;
}

.alert-warning {
   float: left;
   clear: both;
   width: 400px;
   margin: 20px 34%;
   text-align: left;
}

.container {
   display: flex;
   padding: 50px;
   flex-direction: column;
   width: 100%;
}

.info {
   color: #fff;
   text-align: center;
}

.info button {
   backface-visibility: hidden;
   cursor: pointer;
   display: inline-block;
   white-space: nowrap;
   background: linear-gradient(
      180deg,
      #fea 0%,
      #dc8 26.158829442644922%,
      #a95 63.330727130570764%,
      #dc8 100%
   );
   border-radius: 5px;
   border: none;
   padding: 10px 20px 10px 20px;
   box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 1), 0px 1px 3px rgba(0, 0, 0, 0.3);
   color: #fff;
   font-size: 16px;
   font-weight: 900;
   text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
   transition: all ease-in-out 0.4s;
}

.info button:hover {
   border-radius: 50px;
   opacity: 0.8;
}

input {
   padding: 10px;
   border-radius: 5px;
   font-size: 16px;
   font-weight: 900;
   border: 2px solid white;
   transition: all 0.3s linear;
   outline: none;
}

input:focus {
   border-radius: 50px;
   border: 2px solid #a95;
}

label {
   font-size: 22px;
   font-weight: 600;
}

@media (max-width: 1781px) {
   aside img {
      width: 70px;
   }

   aside .logo-description {
      font-size: 40px;
      margin-left: 5px;
   }
}

@media (max-width: 1281px) {
   aside {
      width: 20%;
   }

   aside img {
      width: 60px;
   }

   aside .logo-description {
      font-size: 30px;
      margin-left: 5px;
   }

   aside ul {
      padding-left: 0;
   }

   aside.hidden {
      margin-left: -25%;
   }
}

@media (max-width: 1025px) {
   aside .logo {
      flex-wrap: wrap;
   }
}

@media (max-width: 741px) {
   .container {
      padding: 90px;
   }

   .info form {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .info form input {
      margin: 10px 0;
   }

   aside h3 {
      margin-top: 30px;
      font-size: 18px;
   }

   aside ul a {
      font-size: 14px;
      font-weight: 400;
   }
}

@media (max-width: 481px) {
   aside h3 {
      display: none;
   }

   aside ul a {
      font-size: 12px;
      font-weight: 400;
   }

   .container {
      padding: 60px;
   }

   aside ul li {
      margin-top: 10px;
   }

   input {
      padding: 5px;
      border-radius: 5px;
      font-size: 12px;
      font-weight: 700;
      border: 1px solid white;
   }

   input:focus {
      border: 1px solid #a95;
   }

   label {
      font-size: 18px;
      font-weight: 400;
   }

   .info button {
      padding: 5px 10px 5px 10px;
      font-size: 12px;
      font-weight: 700;
   }

   aside .logo-description {
      font-size: 20px;
      margin: 0;
   }
}

@media (max-width: 320px) {
   .container {
      padding: 30px;
   }

   aside img {
    width: 30px;
 }
}
